*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
.main-content {
  max-width: 1440px;
  padding: 2rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* Responsive adjustments */

/* Extra extra large devices (xxl) */
@media (max-width: 1400px) {
  .main-content {
    max-width: 1200px;
  }
}

/* Extra large devices (xl) */
@media (max-width: 1200px) {
  .main-content {
    max-width: 992px;
    padding: 1.5rem;
  }
}

/* Large devices (lg) */
@media (max-width: 992px) {
  .main-content {
    max-width: 768px;
  }
}

/* Medium devices (md) */
@media (max-width: 768px) {
  .main-content {
    max-width: 576px;
    padding: 1rem;
  }
}

/* Small devices (sm) */
@media (max-width: 576px) {
  .main-content {
    padding: 0.5rem;
  }
}
